DbUrl = jdbc:postgresql://host:5432/dbname
DbUser = username
DbPassword = password
NamesMale = ../ru-dict-data/names_m.txt
NamesFemale = ../ru-dict-data/names_f.txt
FamMale = ../ru-dict-data/fam_m.txt
FamFemale = ../ru-dict-data/fam_f.txt
SaltKey = iddqd1995
