DbUrl = jdbc:postgresql://host:5432/dbname
DbUser = username
DbPassword = password
NamesMale = dict/names_m.txt
NamesFemale = dict/names_f.txt
FamMale = dict/fam_m.txt
FamFemale = dict/fam_f.txt
SaltKey = iddqd1995
